code {
    color: #d33682;
    font-family: monospace;
    background: #f7f0dd;
    padding: 3px;
    margin: 2xp 0px;
    border-radius: 10px;
    overflow: auto;
    display: inline-block;
    box-shadow: 1px 1px 2px #888888;
}

.jump-link a {
    text-decoration: none;
    font-size: 100%;
    //color: #fdf6e3;
    color: #002b36;
    background: rgb(255, 230, 179);
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
}

.jump-link a:hover {
    text-decoration: none;
    color: #073642;
    box-shadow: 5px 5px 5px #aaaaaa;
}


.jump-link a:active {
    text-decoration: none;
    color: #073642;
    box-shadow: 2px 2px 5px #aaaaaa;
}

.jump-link a:visited {
    text-decoration: none;
    font-size: 100%;
    //color: #fdf6e3;
    color: #002b36;
    background: rgb(255, 230, 179);
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #657b83;
}

.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
